.phpto-grid__item{
    max-width: 100%;
    width: 283px;
    height: auto;
}

@media screen and (max-width: 1279px) {
    .phpto-grid__item {
        max-width: 100%;
        width: 300px;
    }
}

@media screen and (max-width: 1023px) {
    .phpto-grid__item {
        max-width: 100%;
        width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .phpto-grid {
        max-width: 100%;
        object-fit: cover; /* вписываем каринку в размеры грида*/
    }
}



