.places {
    margin: 0 auto;
    max-width: 984px; 
    display: flex;
    flex-direction: column;
  }
   
  @media screen and (max-width: 1023px) {
      .places {
          width: calc(100% - 24px * 2);
      }
  }

  @media screen and (max-width: 767px) {
    .places {
        max-width: 100%;
        width:320px;
        align-items: center;
    }
}

