.place__image {
    max-width: 100%;
    object-fit: cover; /* вписываем каринку в размеры грида*/
    height: auto;
    grid-column: 1;
    grid-row: 2;
}

@media screen and (max-width: 767px) {
    .place__image {
        grid-row: 3;
    }
}