.intro {
    max-width: 984px;
    margin: 0 auto 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: start;
}

@media screen and (max-width: 1279px) {
    .intro {
        max-width: 928px; 
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 93.75%; /* 720/(768/100)*/
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        max-width: 90%;

    }
}

