.intro {
    max-width: 984px;
    margin: 0 auto 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: start;
}

@media screen and (max-width: 1279px) {
    .intro {
        max-width: 928px; 
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        margin-bottom: 88px;
        max-width: calc(100% - 24px *2);
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: calc(100% - 16px * 2); /* 720/(768/100)*/
        margin-bottom: 64px;
    }
}
