.cover__overley-link {
    max-width: 1184px;
    grid-column: 1;
    grid-row: 1;
    top: 0;
    left: 0;
    z-index: 2;
}

.cover__overley-link:hover {
    background: rgba(0,0,0,.2);
}