.cover {
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
}

@media screen and (max-width: 1279px) {
    .cover {
        max-width: 1184px;
        min-height: auto;
    }
}

