.lead__container {
    display: grid;
    grid-auto-rows: repeat(2, 1fr);
}

@media screen and (max-width: 1279px) {
    .lead__container {
        max-width: 928px;
    }
}

@media screen and (max-width: 1024px) {
    .lead__container {
        max-width: 100%;
    }
}