.footer {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    margin: 92px auto 24px;
    width: calc(100% - 48px *2);/* максимальная ширина - отсупы */
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .footer{
        width: calc(100% - 24px *2);
        margin: 88px auto 24px;
    }
}

@media screen and (max-width:767px) {
    .footer{
        flex-direction: column;
        align-items: flex-start;
        margin: 64px 0 24px 16px;
    }
}


